.hero1-header1 {
  width: 100%;
  height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: 310px;
  padding-right: 310px;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.hero1-max-width {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero1-container {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}
.hero1-column {
  gap: 24px;
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-heading1 {
  width: 503px;
}
.hero1-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.hero1-button {
  text-decoration: none;
}
.hero1-button1 {
  text-decoration: none;
}
.hero1-container1 {
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 35%;
  justify-content: flex-start;
}
.hero1-image1 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  object-fit: contain;
}
.hero1-root-class-name {
  align-self: center;
}
@media(max-width: 991px) {
  .hero1-header1 {
    width: 100%;
    height: auto;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .hero1-container {
    width: 812px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .hero1-container1 {
    width: 324px;
    height: 413px;
    padding-top: 56.25%;
  }
  .hero1-image1 {
    width: 264px;
  }
}
@media(max-width: 767px) {
  .hero1-header1 {
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .hero1-container {
    width: 731px;
  }
  .hero1-heading1 {
    text-align: center;
  }
  .hero1-content1 {
    text-align: center;
  }
  .hero1-actions {
    width: 100%;
    justify-content: center;
  }
  .hero1-image1 {
    width: 100%;
  }
  .hero1-root-class-name {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .hero1-header1 {
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .hero1-max-width {
    width: 479px;
    align-items: center;
    justify-content: center;
  }
  .hero1-container {
    width: 479px;
    height: 778px;
    flex-direction: column;
  }
  .hero1-column {
    align-items: center;
    justify-content: center;
  }
  .hero1-content {
    align-items: center;
    justify-content: center;
  }
  .hero1-heading1 {
    font-size: 5rem;
  }
  .hero1-content1 {
    width: 423px;
  }
  .hero1-actions {
    width: 158px;
    flex-direction: column;
  }
  .hero1-button {
    width: 100%;
  }
  .hero1-button1 {
    width: 100%;
  }
  .hero1-image1 {
    height: 284px;
  }
  .hero1-root-class-name {
    height: auto;
  }
}
